*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToAw_7skWhSB6gA_axyCzYwunLxNvLxSLTFA&usqp=CAU");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}
.container1{
    margin-left: 46%;
    margin-top: 6%;
}
h1{
    font-family: cursive;
}
h2{
    font-family: cursive;
    color: aliceblue;
}


